.container {}

.imageCarousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.buttonsGroup {
  display: flex;
  align-items: center;

  button {
    margin: 10px
  }
}
