@import 'fonts';

.imageCarousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 5rem;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
  font-family: 'Electroharmonix';
}

.buttonsGroup {
  display: flex;
  align-items: center;

  a {
    margin: 10px
  }
}
